%h1{:align => "center"} JimBob's Icecream Delivery

%body
  %p{:align => "center"}
    %label Route: 
    %label#route #{@route}
  %p{:align => "center"}
    %label Driver: 
    %label#driver #{@driver}
    %br
  %br

  %p{:align => "center"}
    %label Manager Notes: 
    %p{:align => "center"}= "Needs to quit drinking" if @driver == "Jan"
    %br

  %p{:align => "center"}
    %label Item 1: 
    %label#item_1 #{@item_1}
  %p{:align => "center"}
    %label Item 2: 
    %label#item_2 #{@item_2}
  %p{:align => "center"}
    %label Item 3: 
    %label#item_3 #{@item_3}
  %p{:align => "center"}
    %label Item 4: 
    %label#item_4 #{@item_4}

  %br
  %br

  %li#link_main_page{:align => "center"}
    %a{:href => "/main_page_back"} Home

  %br
  %br
  %br
  %br
  %li#link_logout
    %a{:href => "/login"} Logout
